.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("http://www.algorithmic-worlds.net/images/20120427-lat20.jpg");
  background-size: cover;
  color:white;
  margin: 0 1em;
  height: 90vh;
}

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* https://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap */

.shadow-1 {
  box-shadow:0px 1px 27px -3px rgba(0, 0, 0, 0.2);
}


.nav-item a {
  color:rgba(0,0,0,.8);
}

.sectionHeader {
  text-align: center;
  margin-bottom:2em;
  font-size: 2.5rem;
}

.section-padding {
    padding:6em 0;
    margin: 0 auto;
}

.section-bg-1 {
    background:#f7f7f7;
}

.footer-class {
  text-align:center;
  padding:2em;
  background:rgba(0,0,0,.8);
  color:rgba(255,255,255,.4);
}

.div-center {
  margin: 0 auto;
}

.carouselImg {
  background-color: linear-gradient(rgba(0, 0, 0, 0.5);
}
